//Colors

$color-primary: #00BFD6;
$color-secondary: #CADFD9;
$color-tertiary: #8BD1E4;
$color-quaternery: #00B5A2;

$color-hover: #0f9dc4;
$color-link-hover: #596e74;
$color-paragraph: #494f51;


//font 
$default-font-size: 1.6rem;

//grid

$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
